@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  background-image: url("../image/background.jpg");
  font-size: 50%;
  font-family: 'VT323', monospace;
}

.choice-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(0, 0, 0);
  color: white;
  background-color: rgb(0, 0, 0);
  padding: 0.5rem; /* Add padding for better aesthetics */
  text-align: center;
  position: relative;
  border-radius: 0.5rem; /* Make the box round */
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25), 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: all 150ms ease-in-out;
  color: white;
  background-color: rgb(86, 185, 235);
  animation: flicker 0.5s ease-in-out;
  animation: pulse 0.5s ease-in-out;
  animation: bounce 0.5s ease-in-out;
  scale: 1.05; /* Make the button 5% larger */
}

.choice-container:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0.2rem solid rgba(255, 255, 255, 0.5);
  pointer-events: none;
}

.choice-container:hover:before {
  border: 0.2rem solid rgba(255, 255, 255, 0.8);
}

@keyframes flicker {
  0% {
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25), 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  }
  50% {
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25), 0 0.8rem 2.8rem 0 rgba(86, 185, 235, 0.5);
  }
  100% {
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25), 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  }
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #56a5eb;
  color: white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
  color: white;
}

.correct {
  background-color: #28a745;
  color: white;
}

.incorrect {
  background-color: #dc3545;
  color: white;
}

#hud {
  display: flex;
  justify-content: space-between;
  color: white;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
  color: white;
}

.score-main-text {
  text-align: center;
  color: white;
}

#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #ffffff;
  margin-top: 1.5rem;
}

#progressBarFull {
  height: 3.4rem;
  background-color: #ffffff;
  width: 0%;
}

.score-prefix {
  text-align: right;
  font-size: 2rem;
}

#score {
  text-align: right;
  color: white;
}

.timer {
  font-size: 100;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  margin-top: 60px;
  padding: 2rem;
}

.container > * {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.btn {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid #56a5eb;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #56a5eb;
  background-color: white;
  font-family: 'VT323', monospace;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

input::placeholder {
  color: white;
}

#questionImage {
display: block;
margin: 0 auto; 
max-width: 100%; 
height: auto;
}

#questionVideo {
display: block;
margin: 0 auto; 
max-width: 100%; 
height: auto;
}

.container {
  width: 75vw; 
  height: 75vh; 
  max-width: 60rem; 
  padding: 1.5rem;
}

h1 {
  font-size: 4.05rem;
  margin-bottom: 3.75rem;
  color: white;
  font-family: 'VT323', monospace;
}

h1 > span {
  font-size: 1.8rem; 
}

h2 {
  font-size: 3.15rem;
  margin-bottom: 3rem;
  color: white;
  font-family: 'VT323', monospace;
}

h3 {
  font-size: 2.1rem;
  color: white;
  font-family: 'VT323', monospace;
}

#highScoresList {
  list-style: none;
  padding-left: 0;
  margin-bottom: 4rem;
}

.high-score {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
}

.high-score:hover {
  transform: scale(1.025);
}